/* App.css */
.color-round-grad {
    background: linear-gradient(124deg, #8A2BE2 -6.46%, #FFA500 59.04%, #F8F8FF 124.53%);
    filter: blur(130px);
}

.color-round-grad1 {
    background: linear-gradient(118deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%);
    filter: blur(130px);
}

/* styles.css */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #374151; /* Track color */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #6b7280; /* Thumb color */
    border-radius: 4px;
    border: 2px solid #374151; /* Adjust thumb border to match track background */
  }
  
  .custom-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #6b7280 #374151; /* For Firefox */
  }
  